body {background-color: rgb(233, 237, 241);}

.card {
    background-color: rgb(220, 229, 224);
    border: 3px solid transparent;
    padding: 1.5rem 2rem;
    margin: 3rem;
}
.card-1{
    border-color: deeppink;

}

.card-2{
    border-color: dodgerblue;

}

.icon{
    width: 40px ;
    height: 40px ;
    background: deeppink ;
    border-radius: 50%;
    margin: 0 auto;

}

.card-1 .icon{
    background: deeppink ;
}

.card-2 .icon{
    background: dodgerblue ;
}